#header{
  	background-color:#fff;
  	background: url('../imagenes/bg.png');
  	background-position:center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding: 200px 0 285px;
  	border-top: 10px solid #2ecc71 
}
.logo h1{
	font-family: 'Pacifico', cursive;
 	font-size: 60px;
  	padding-bottom: 39px;
  	color: #fff;
}
.logo{
	font-family:arial;
	font-size: 25px;
	color: #fff;
}
.logo i{
	border: none;
    border-radius: 50%;
    font-size: 25px;
    line-height: 47px;
    width: 52px;
    height: 51px;
    text-align: center;
    background: #482f20;
    color: #e6ded9;
}
.logo ul {
    padding-left: 0;
    display: block;
}

.logo ul li {
    display: inline-block;
}

.logo ul a {
    font-size: 30px;
    color: #f4f4f4;
    padding: 0 10px;
}

.logo ul i:hover {
    background-color: #2ecc71;
}

#caracteristicas{
  padding-top: 105px;
  padding-bottom: 105px;
}
.carac {
    text-align: center;
}

.carac i {
    border-radius: 50%;
    padding: 20px;
    color: #fff;
    background-color: #2ecc71;
    font-size: 50px;
}
.carac p{
  color:#989898;
}

.carac h2{
  font-size: 20px;
}

#notificaciones{
  background-color:#e3e3e3;
  padding-top: 105px;
  padding-bottom: 105px; 
}
.email h3{
  margin-top: 0;
}
.cajita{
  margin-top: 20px;
  padding-right: 130px;
}
.cajita input{
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}
.cajita .input-group-btn button{
  padding: 6px 32px;
  font-size: 18px;
  color: #fff;
  background-color: #2ecc71;
  border-radius: 0px 10px 10px 0px;
  Position:absolute;
}
.testi p{
  padding: 70px 175px 10px 175px;
  color: #848484;
  text-align: justify;
}